<html>

<head>
    <title>Speak Louder!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow:400,700|PT+Serif" rel="stylesheet" />
    
    <link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="apple-touch-icon" href="images/favicon/favicon-120x120.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/favicon-180x180.png">  
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/favicon-152x152.png">  
    <link rel="apple-touch-icon" sizes="167x167" href="images/favicon/favicon-167x167.png">  
</head>

<body>
    <header>
        <nav>
            <div class="social-headers">
                <a href="#facebook"><img src="images/facebook-header-icon.svg" alt="Facebook Header Icon"></a>
                <a href="#twitter"><img src="images/twitter-header-icon.svg" alt="Twitter Header Icon"></a>
                <a href="#tumblr"><img src="images/tumblr-header-icon.svg" alt="Tumblr Header Icon"></a>
            </div>
            <a
                aria-label="Speak Louder!"
                class="logo"
                href="/"
            >
            </a>
            <a 
                aria-label="Speak Louder!" 
                class="logo-small"
                href="/"
            >
            </a>
            <div class="menu">
                <ul>
                    <li><a href="#archive">Archive</a></li>
                    <li><a href="#cast">Cast</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
            <div class="burger"><a href="#nav">&equiv;</a></div>
        </nav>
    </header>
    {{{body}}}
    <div class="footer">
        <p>©2017 Speak Louder by JK Johnson</p>
    </div>

</body>

</html>