<html>

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Sans+Narrow:400,700|PT+Serif:400,700" rel="stylesheet" />

    {{> shared/favicons }}
</head>

<body>
    {{> shared/header }}
    {{{body}}}
    {{> shared/footer }}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/script.js"></script> 
</html>