<div class="main-content"> 
    <div class="header-image">
        <img src="images/header/archive-header.png" alt="Archive header image">
    </div>
    <div class="page-text">
        <h1>Calendar</h1>
        <h1>Storyline</h1>
    </div