<div class="main-content"> 
    <div class="header-image">
        <img src="images/header/cast-header.png" alt="Cast header image">
    </div>
    <div class="page-text">
        <div class="characters-container">
            <div class="character">
                <div class="character-image">
                    <img src="images/cast-male-avatar.svg" alt="Male Avatar">
                </div>
                <h1>Character Name</h1>
            </div>
            <div class="character">
                <div class="character-image">
                    <img src="images/cast-male-avatar.svg" alt="Male Avatar">
                </div>
                <h1>Character Name</h1>
            </div>
            <div class="character">
                <div class="character-image">
                    <img src="images/cast-male-avatar.svg" alt="Male Avatar">
                </div>
                <h1>Character Name</h1>
            </div>
            <div class="character">
                <div class="character-image">
                    <img src="images/cast-female-avatar.svg" alt="Male Avatar">
                </div>
                <h1>Character Name</h1>
            </div>
        </div>  
    </div>