<div class="content">
    <div class="comic-frame">
        <div class="panels">
            <div class="panel-1"><img src="images/panel-1.jpg" alt="Panel 1"></div>
            <div class="panel-2"><img src="images/panel-2.jpg" alt="Panel 2"></div>
            <div class="panel-3"><img src="images/panel-3.jpg" alt="Panel 3"></div>
            <div class="panel-4"><img src="images/panel-4.jpg" alt="Panel 4"></div>
        </div>
    </div>
    <div class="comic-nav-container">
        <div class="mobile-buttons clearfix">
            <div class="mobile-social-share">
                <a href="#fb"><img src="images/facebook-share-icon.svg" alt="Facebook Share Icon"></a>
                <a href="#twit"><img src="images/twitter-share-icon.svg" alt="Twitter Share Icon"></a>
                <a href="#comment"><img src="images/comment-icon.svg" alt="Comment Icon"></a>
            </div>
        </div>
        <div class="comic-nav clearfix">

            <div class="nav-buttons">
                <div class="nav-first">
                    <a href="#first"><img src="images/buttons/first-icon.svg" alt="First Button"></a>
                </div>
                <div class="nav-previous">
                    <a href="#previous"><img src="images/buttons/previous-icon.svg" alt="Previous Button"></a>
                </div>
                <div class="nav-next">
                    <a href="#next"><img src="images/buttons/next-icon.svg" alt="Next Button"></a>
                </div>
                <div class="nav-last">
                    <a href="#last"><img src="images/buttons/last-icon.svg" alt="Last Button"></a>
                </div>
            </div>
            <div class="social-share">
                <a href="#comment"><img src="images/comment-icon.svg" alt="Comment Icon"></a>
                <a href="#twit"><img src="images/twitter-share-icon.svg" alt="Twitter Share Icon"></a>
                <a href="#fb"><img src="images/facebook-share-icon.svg" alt="Facebook Share Icon"></a>
            </div>
        </div>

    </div>
    <div class="sub-comic">
        <div class="comic-info">
            <h1>01 - Death with Dignity</h1>
            <p class="date">Monday, April 1, 2017</p>
        </div>
        <div class="sidebar-right">
            <div class="twitter-feed"> <a class="twitter-timeline" data-height="300" data-theme="dark" href="https://twitter.com/WordsToSong">Tweets by WordsToSong</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>    