<div class="content">

	<div class="parallax jk"></div>

			<div class="welcome">
				<img class="right" src="/images/home/right-hand.png">
				<h1 class='homepage-title'>Welcome!</h1>

				<p class='homepage-p'>
				Hey, you guys! Welcome to my webcomic! 
				I know, I know, typically one would land on the first or most recent strip and get things going right off the bat. 
				But this isn’t going to be your typical webcomic series, for better or worse. 
				I want to give this experience a little personal touch, so you know who I am.
				But I also want to test the limits of what a comic can be in the landscape that is… the one that we’re in.
				</p>
				<p class='homepage-p'> 
				Will there be interactivity? Possibly! Will there be community? I hope so! 
				Will there be an intergalactic battle between rival alien races in order to gain control of some distant space system? 
				Probably not… but you never know!	
			</p>
			<p class='homepage-p'>
		Let’s hold off on the speculating  for now and jump right into things. I hope you enjoy!	
			</p>
			<img class='jk-sig' src="/images/home/jk-sig.png">
			<p class='sig'>
		JK Johns
			</p>

		</div>
<!-- 		<div class='home-menu'>
			<div class='story-menu'>
				<h2 class='story-title'>Chapter 1 - Life with Dignity</h2>
			</div>
			<div class='comic-menu'>
				<h3 class='comic-title'> #1 - Death with Dignity
				</h3>
  

 -->
	<ul class="home-menu">
  <li class='story-title'>
    <a class="story-menu toggle" href="javascript:void(0);">Chapter 1 - Life with Dignity</a>
    <ul class="inner comic-menu">
      <li class='comic-title'><a href="/01-death-with-dignity">#1 - Death with Dignity</a></li>
<!--       <li>Option 2</li>
      <li>Option 3</li> -->
    </ul>

  
<!--   <li class='story-title'>
    <a class="toggle" href="javascript:void(0);">Item 2</a>
    <ul class="inner">
      <li>Option 1</li>
      <li>Option 2</li>
      <li>Option 3</li>
    </ul>
  </li> -->
	
</div>    