{{#content 'title'}}
    {{title}} | 01 – Death with Dignity
{{/content}}
<div class="content">
 <div class="comic-frame">
  <div class='panel-container'>
<div class="panel-1">
  </div>
    <div class="panel-2">
      </div>
    <div class="panel-3">
      </div>
    <div class="panel-4">
      </div>
    </div>
</div>
    <div class="comic-nav-container">
        <div class="mobile-buttons clearfix">
            <div class="mobile-social-share">
                <a href="#fb"><img src="images/buttons/comic-nav/facebook-share-icon.svg" alt="Facebook Share Icon"></a>
                <a href="#twit"><img src="images/buttons/comic-nav/twitter-share-icon.svg" alt="Twitter Share Icon"></a>
                <a href="#comment"><img src="images/buttons/comic-nav/comment-icon.svg" alt="Comment Icon"></a>
            </div>
        </div>
        <div class="comic-nav clearfix">

            <div class="nav-buttons">
                <div class="nav-first">
                    <a href="#first"><img src="images/buttons/comic-nav/first-icon.svg" alt="First Button"></a>
                </div>
                <div class="nav-previous">
                    <a href="#previous"><img src="images/buttons/comic-nav/previous-icon.svg" alt="Previous Button"></a>
                </div>
                <div class="nav-next">
                    <a href="#next"><img src="images/buttons/comic-nav/next-icon.svg" alt="Next Button"></a>
                </div>
                <div class="nav-last">
                    <a href="#last"><img src="images/buttons/comic-nav/last-icon.svg" alt="Last Button"></a>
                </div>
            </div>
            <div class="social-share">
                <a href="#comment"><img src="images/buttons/comic-nav/comment-icon.svg" alt="Comment Icon"></a>
                <a href="#twit"><img src="images/buttons/comic-nav/twitter-share-icon.svg" alt="Twitter Share Icon"></a>
                <a href="#fb"><img src="images/buttons/comic-nav/facebook-share-icon.svg" alt="Facebook Share Icon"></a>
            </div>
        </div>

    </div>
    <div class="sub-comic">
        <div class="comic-info">
            <h1 class='comic-title'>## - Title of Comic</h1>
            <p class="date"></p>
            <div class='quote-container'>
                <h2 class='quote'>
                    Spirit of my silence, I can hear you<br>
                    But I'm afraid to be near you<br>
                    And I don't know where to begin
                </h2>
                <h3 class='quote-byline'>
                    —&ldquo;Death with Dignity&rdquo;, Sufjan Stevens
                </h2>
            </div>
            <p class='comic-blog'>
                A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. 
                I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. 
                I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
            </p>
        </div>
    </div>
</div>    