body {
  background: linear-gradient(45deg, #415A85 , #415A85);
  margin: 0;
}

nav {
    background-color: #333333;
    width: 100%;
    max-width: 440px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: 700;
}

.social-headers {
    height: 32px;
    width: 106px; 
    display: none;
}

.logo {
    display:none;
    width:135px;
}

.logo-small {
    float: left;
    position: relative;
    left: 50%;
}

.logo-small img {
    float: left;
    position: relative;
    left: -50%;
    height: 125px;
    margin-top: -20;
}
.menu {
    display: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    width: 82px;
    padding: 22px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.burger {
    float: right;
    font-family: arial;
    font-weight: 500;
    font-size: 3rem;
    /*padding: 0px 0.75rem;*/
    line-height: 4.4rem;
}

.burger a {
 text-decoration: none;
 color: #F8EBD1;
 padding:0 10px;
 margin-right: 5px;
}

.burger a:hover {
    background-color: #111;
}

#comic-frame {
    background-color: #333333;
    width: 100%;
    max-width: 440px;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}
/*#panels{
     
}*/ 

.panels img {
  /*float:left;*/
  /*background-color: white;*/
  width: 91%;
  max-width: 400px;
  padding: 4.545% 4.545% 0;
 
}

#panel-4 {
  padding-bottom:4.545%;
}

#comic-nav-container {
    background-color: #333333;
    width: 100%;
    max-width: 440px;
    height: 150px;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.comic-nav{
      /*border-top: 1px solid #999;
      border-bottom: 1px solid #999;*/
      height:75px; 
      width: 300px;
      margin:auto;
}
    .clearfix:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      line-height: 0;
      visibility: hidden;
}
#nav-first a {
  border-top:1px solid #999;
  border-bottom:1px solid #999;
  border-left: 1px solid #999;
  float:left;
  color: white;
  font-size: 30px;
  padding: 15px 17.845px;
}
#nav-previous a {
  border-top:1px solid #999;
  border-bottom:1px solid #999;
  border-left: 1px solid #999;
  float:left;
  color: white;
  font-size: 30px;
  padding: 15px 22px;
}
#nav-next a {
  border-top:1px solid #999;
  border-bottom:1px solid #999;
  border-left: 1px solid #999;
  float:left;
  color: white;
  font-size: 30px;
  padding: 19px 23.8px;
}
#nav-last a {
  border-top:1px solid #999;
  border-bottom:1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  float:left;
  color: white;
  font-size: 30px;
  padding: 19px 19.15px; 
}

.comic-nav a {
    text-decoration: none;;
}

.comic-nav a:hover {
    background-color: #111;
}

.mobile-social-share img {
    height:30px;
}
.social-share{
    display: none;
}
/*.social-share img{
    float: right;
    height: 50px;
    margin: 12.5px 0;
}

.social-share img:nth-child(2){
    margin: 12.5px 10px;
}*/

#sub-comic{
    width: 100%;
    max-width: 440px;
    margin: 20px auto;
}
#comic-info {
    background-color: #F8EBD1;
    /*float: ;*/
    height: 750px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

h1 {
  padding:20px 20px 0 20px;
  margin:0;
  font-family: 'PT Sans Narrow';
  font-size: 25px;
  font-weight: bold;
}

#date{
  padding: 0 20px 20px 20px;
  margin:0;
  font-family: 'PT Sans';
  font-size: 16px;
}

#sidebar-right {
    background-color: #F8EBD1;
    /*float:;*/
    height: 330px;
    margin-top: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

#footer {
    background-color: #333333;
    clear: left;
    width: 100%;
    height: 94px;
    margin:auto;
    border-top: 6px solid #C13738;

}

@media only screen and (min-width: 650px){
    
    nav{
        width:85%;
        max-width:850px;
        margin: auto;
        margin-top: 100px;
     }
    
    .social-headers{
        display: block;
        float:right;
        margin-top:-40px;
    }
    
    .social-headers img {
        float: left;
        width: 32px
    }

    .social-headers img:nth-child(2) {
        margin: 0 5px;
    }

     .logo {
         float: left;
         display: block;
         width:170px;
     }
     
     .logo img {
         height: 150px;
         margin-top: -50px;
         margin-left: -20px;
     }

     .logo-small {
         display: none;
     }
     .menu {
         display: block;
     }
     .burger {
         display: none;
     }
     #comic-frame{
        width:85%;
        max-width:850px;
        overflow: auto;
    }

    .panels img {
      width:47%;
      max-width:400px;
      float: left; 
      padding: 2% 0 0 2%;
    }
    #panel-4 {
      padding-bottom:121%;
      }
    #comic-nav-container {
        width: 85%;
        max-width: 850px;
        height: 90px;
    }

    .comic-nav{
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
      height:75px; 
      width: 96%;
      margin:auto;
}
    .clearfix:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      line-height: 0;
      visibility: hidden;
}
.mobile-social-share{
    display:none;
}

#nav-first a {
  border-top:0;
  border-bottom:0;  
  border-left: 1px solid #999;
  float:left;
  color: white;
  font-size: 30px;
  padding: 15px 17.845px;
}
#nav-previous a {
  border-top:0;
  border-bottom:0;
  border-left: 1px solid #999;
  float:left;
  color: white;
  font-size: 30px;
  padding: 15px 22px;
}
#nav-next a {
  border-top:0;
  border-bottom:0;
  border-left: 1px solid #999;
  float:left;
  color: white;
  font-size: 30px;
  padding: 19px 23.8px;
}
#nav-last a {
  border-top:0;
  border-bottom:0;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  float:left;
  color: white;
  font-size: 30px;
  padding: 19px 19.15px; 
}

.comic-nav a {
    text-decoration: none;;
}

.comic-nav a:hover {
    background-color: #111;
}

.social-share {
    display: block;
}

.social-share img{
    float: right;
    height: 50px;
    margin: 12.5px 0;
}

.social-share img:nth-child(2){
    margin: 12.5px 10px;
}

    #sub-comic{
    width: 85%;
    max-width: 850px;
    overflow: auto;
}
 
}
/*@media only screen and (min-width: 900px){
   #comic-info {
        width: 65%;
        float: left;
    }
    #sidebar-right {
        width: 33%;
        max-width: none;
        float: left;
        margin-left: 2%;
        margin-top: 0;
    }

}*/
@media only screen and (min-width: 900px){
     nav{
        width:90%;
        max-width:none;
        margin: auto;
        margin-top: 100px;
     }
     #comic-frame{
        width:90%;
        max-width:none;
        overflow: auto;
    }

    .panels img {
      width:22.5%;
      max-width:400px;
      float: left; 
      padding: 2% 0 0 2%;
    }
    #panel-4 {
      padding-bottom:32%;
      }
    #comic-nav-container {
      width: 90%;
      max-width: none;
    }

    .comic-nav{
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
      height:75px; 
      width: 96%;
      margin:auto;
}
    .clearfix:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      line-height: 0;
      visibility: hidden;
}
#nav-first a {
  border-left: 1px solid #999;
  float:left;
  color: white;
  font-size: 30px;
  padding: 15px 17.845px;
}
#nav-previous a {
  border-left: 1px solid #999;
  float:left;
  color: white;
  font-size: 30px;
  padding: 15px 22px;
}
#nav-next a {
   border-left: 1px solid #999;
  float:left;
  color: white;
  font-size: 30px;
  padding: 19px 23.8px;
}
#nav-last a {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  float:left;
  color: white;
  font-size: 30px;
  padding: 19px 19.15px; 
}

.comic-nav a {
    text-decoration: none;;
}

.comic-nav a:hover {
    background-color: #111;
}

.social-share img{
    float: right;
    height: 50px;
    margin: 12.5px 0;
}

.social-share img:nth-child(2){
    margin: 12.5px 10px;
}
#sub-comic{
    width: 90%;
    max-width: none;
    overflow: auto;
}
   #comic-info {
        width: 65%;
        /*max-width:600px;*/
        float: left;
    }
    #sidebar-right {
        width: 33%;
        max-width: none;
        float: left;
        margin-left: 2%;
        margin-top: 0;
    }

}

/* @media only screen and (min-width: 440px) {
    #nav{
        width:85%;
        margin: auto;
    }
    #comic-frame{
        width: auto;
}
    #panel-1, #panel-2{
        float: left;
    }
    

            


        }*/
        /*.panels img {
        background-color: white;
        clear: both;
        margin: 20px 3.125% 0;
}
*/

